{% extends "base.html" %}

{% block content %}
<h1>Manage Employees</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Change Password</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td><a href="{{ url_for('manager_change_password', user_id=user.id) }}">Change Password</a></td>
            <td><a href="{{ url_for('manager_view_time_entries', user_id=user.id) }}">View Time Entries</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
