<!-- /templates/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en" style="height: 100%;">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Punchin Genius Time Tracker{% endblock %}</title>
    <!-- Bootstrap CSS and Minty Theme from Bootswatch -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.0.2/minty/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/punchin.css' %}" />
  </head>

  <body class="d-flex flex-column" style="height: 100%;">
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'core:employee_dashboard' %}">Punchin Genius Time Tracker</a>
        {% if user.is_authenticated %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <!-- Update the button class to 'btn-success' for success color -->
              <button class="btn btn-success dropdown-toggle" type="button" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Menu
              </button>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="{% url 'core:user_profile_settings' %}">User Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'core:employee_dashboard' %}">Employee Dashboard</a></li>
                {% if user.is_employer %}
                <li><a class="dropdown-item" href="{% url 'employer:employer_dashboard' %}">Employer Dashboard</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'user_app_settings' %}">Settings</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="Log Out" class="btn btn-danger">
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        {% endif %}
      </nav>
    </header>
    <main class="container mt-4 flex-shrink-0">
      {% if messages %}
      <div class="alert alert-info">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% block content %}
      <!-- Page specific content will go here -->
      {% endblock %}
    </main>
    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">PunchIn Genius Time Tracker | Copyright (c) TrionxAI.com</span>
      </div>
    </footer>
    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>

</html>