<!-- /employer/templates/employer/employer_dashboard.html -->
{% extends "base.html" %}

{% load core_extras %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <h1>Employer Dashboard</h1>

    {% if user.is_authenticated %}
    <div>
        {% if not request.user.is_employer %}
        <p>Want to register as an employer?</p>
        <a href="{% url 'employer:register_employer' %}" class="btn btn-primary">Apply for Employer</a>
        {% endif %}
    </div>
    <div class="user-info">
        <img src="{{ user.profile_image_url }}" alt="Profile Icon" class="profile-icon">
        <span>Welcome, {{ user.username }}. Today's date is {{ now|date:"F j, Y" }}</span>
        {% if user|can_access_employer_dashboard %}
        <a href="{% url 'employer:employer_dashboard' %}" class="btn btn-primary">Employer Dashboard</a>
        {% endif %}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
    {% else %}
    <p>Please <a href="{% url 'login' %}">login</a> to access the employee dashboard.</p>
    {% endif %}

    <div>
        <!-- Your employee dashboard-specific content here -->
    </div>
</div>
{% endblock %}