<!-- employer/templates/employer/register_employer_details.html -->

{% extends "base.html" %}
{% load static %}
{% load form_helpers form_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Employer Registration - Part 2 (Details)</h2>
            <div class="card">
                <div class="card-body">
                    <form method="post" class="needs-validation" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.name == 'agree_terms' %}
                        <div class="mb-3 d-flex align-items-center">
                            {{ field|add_classes:'form-check-input' }}
                            <label class="form-check-label ms-2" for="{{ field.id_for_label }}">
                                {{ field.label|safe }} <!-- Use the |safe filter to render HTML in label -->
                            </label>
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="form-floating mb-3">
                            {{ field|add_classes:'form-control' }}{% if field.errors %} is-invalid{% endif %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% if form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.non_field_errors }}
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}