<!-- templates/core/login.html -->

{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  {% if user.is_authenticated %}
  <!-- Welcome message and dashboard link for logged-in users -->
  {% else %}
  <div class="login-form">
    <h2 class="form-title">Login to Your Account</h2>
    {% if messages %}
    <!-- Display messages -->
    {% endif %}
    <form method="post" class="form-horizontal">
      {% csrf_token %}
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="username" placeholder="Username" name="username" required>
        <label for="username">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password" name="password" required>
        <label for="password">Password</label>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Login</button>
    </form>
    <div class="link-section">
      <a href="{% url 'password_reset' %}" class="forgot-password">Forgot password?</a>
      <span>|</span>
      <a href="{% url 'register' %}" class="register">Register for an account</a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}