<!-- templates/core/register.html -->

{% extends 'base.html' %}
{% load static %} <!-- Load your static files if necessary -->
{% load form_helpers %}


{% block content %}
<div class="container mt-4">
  <h2>User Registration</h2>
  <form method="post" class="register-form" novalidate>
    {% csrf_token %}
    {% for field in form %}
    {% if field.name == 'agree_terms' %}
    <div class="mb-3 form-check">
      {{ field|add_class:'form-check-input' }}
      <label class="form-check-label" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>
    </div>
    {% else %}
    <div class="form-floating mb-3">
      {{ field|add_class:'form-control' }}
      <label for="{{ field.id_for_label }}">{{ field.field.widget.attrs.placeholder|default:field.label }}</label>
      {% if field.help_text %}
      <small class="form-text text-muted">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
      <div class="invalid-feedback">
        {{ error }}
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
  <p>Already have an account? <a href="{% url 'login' %}">Login here</a></p>
</div>
{% endblock %}