{% extends "base.html" %}

{% block content %}
<h2 class="elegant-heading">Update User Roles</h2>

<table class="centered-content responsive-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Current Role</th>
            <th>Change Role</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.role }}</td>
            <td>
                <form method="post" class="centered-content">
                    <select name="new_role" class="elegant-dropdown-list">
                        <option value="Employee">Employee</option>
                        <option value="Manager">Manager</option>
                        <option value="Admin">Admin</option>
                    </select>
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <!-- For the Updates button -->
                    <button class="button-updates">Updates</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
