{% extends "base.html" %}

{% block content %}
<h2>All User Time Entries</h2>
<form method="get" action="/admin_all_entries">
    <select name="username_filter" onchange="this.form.submit()">
        <option value="">--Select a Username--</option>
        {% for user in users %}
            <option value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    
    <label for="date_filter">Filter by Date:</label>
    <input type="date" id="date_filter" name="date_filter">
           
    <input class="button-primary" type="submit" value="Filter">
    <a href="/admin_all_entries" class="button-secondary">Clear Filters</a>



</form>


<table class="centered-content">
    <thead>
        <tr>
            <th><a href="{{ url_for('admin_all_entries', sort_by='username', sort_order='asc') }}">Username</a></th>
            <th><a href="{{ url_for('admin_all_entries', sort_by='date', sort_order='asc') }}">Date</a></th>
            <th><a href="{{ url_for('admin_all_entries', sort_by='sign_in_time', sort_order='asc') }}">Sign In Time</a></th>
            <th><a href="{{ url_for('admin_all_entries', sort_by='sign_out_time', sort_order='asc') }}">Sign Out Time</a></th>
        </tr>
    </thead>
    
    <tbody>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.user.username }}</td>
            <td>{{ entry.date.strftime('%m-%d-%Y') }}</td>
            <td>{{ entry.sign_in_time }}</td>
            <td>{{ entry.sign_out_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

